	<footer>

	    <section class="kit-wrapper-block" id="article-footer">

		    <nav class="kit-nav-bar">
			    
			    <div class="kit-wrapper-max">
					    
				    <ul class="kit-nav-menu">
					    <li class="kit-nav-title"><a href="#">Home</a></li>
					    <li><a href="#">Categories</a></li>
					    <li><a href="#">Information</a></li>
					    <li><a href="#">Contact</a></li>
				    </ul>
				    
			    </div>
			    
		    </nav>
		    
	    </section>

	</footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{assets}}/js/scripts.js"></script>

</body>
</html>
